.env
.venv
venv
vosk
piper
web/STT/venv
web/STT/back/__pycache__
web/STT/vosk-model-kz-0.15
web/TTS/neuro
__pycache__/logger.cpython-312.pyc
__pycache__/server.cpython-312.pyc
.idea/dbnavigator.xml
.idea/git_toolbox_prj.xml
.idea/ISSAI-teacher.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
web/Full/__pycache__/main.cpython-312.pyc
web/Full/logs/ai.py_stderr.log
web/Full/logs/ai.py_stdout.log
web/Full/logs/app.py_stderr.log
web/Full/logs/app.py_stdout.log
web/Full/logs/TTS.py_stdout.log
web/Full/logs/TTS.py_stderr.log
web/Full/logs/STT.py_stdout.log
web/Full/logs/STT.py_stderr.log
web/Full/logs/gpt.py_stdout.log
web/Full/logs/gpt.py_stderr.log
web/Full/vits_tokenizer/added_tokens.json
web/Full/vits_tokenizer/special_tokens_map.json
web/Full/vits_tokenizer/tokenizer_config.json
web/Full/vits_tokenizer/vocab.json
web/Full/vits_model/config.json
web/Full/vits_model/model.safetensors
web/Full/wav2vec2_model/config.json
web/Full/wav2vec2_model/model.safetensors
web/Full/wav2vec2_processor/added_tokens.json
web/Full/wav2vec2_processor/preprocessor_config.json
web/Full/wav2vec2_processor/special_tokens_map.json
web/Full/wav2vec2_processor/tokenizer_config.json
web/Full/wav2vec2_processor/vocab.json
