.env
.venv
venv
vosk
piper
web/STT/venv
web/STT/back/__pycache__
web/STT/vosk-model-kz-0.15
web/TTS/neuro
web/full/__pycache__
__pycache__/logger.cpython-312.pyc
__pycache__/server.cpython-312.pyc
.idea/dbnavigator.xml
.idea/git_toolbox_prj.xml
.idea/ISSAI-teacher.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
web/Full/__pycache__/main.cpython-312.pyc
web/Full/logs/ai.py_stderr.log
web/Full/logs/ai.py_stdout.log
web/Full/logs/app.py_stderr.log
web/Full/logs/app.py_stdout.log
web/Full/logs/TTS.py_stdout.log
web/Full/logs/TTS.py_stderr.log
web/Full/logs/STT.py_stdout.log
web/Full/logs/STT.py_stderr.log
web/Full/logs/gpt.py_stdout.log
web/Full/logs/gpt.py_stderr.log
logs
web/Full/__pycache__/logger.cpython-312.pyc
web/Full/utils/__pycache__/audio2face_streaming_utils.cpython-312.pyc
!/web/Full/wav2vec2_processor/
!/web/Full/wav2vec2_model/
!/web/Full/wav2vec2_model/config.json
!/web/Full/vits_tokenizer/
!/web/Full/vits_model/
web/Full/vits_tokenizer/added_tokens.json
web/Full/vits_tokenizer/special_tokens_map.json
web/Full/vits_tokenizer/tokenizer_config.json
web/Full/vits_tokenizer/vocab.json
web/Full/vits_model/config.json
web/Full/vits_model/model.safetensors
web/Full/wav2vec2_model/config.json
web/Full/wav2vec2_model/model.safetensors
web/Full/wav2vec2_processor/added_tokens.json
web/Full/wav2vec2_processor/preprocessor_config.json
web/Full/wav2vec2_processor/special_tokens_map.json
web/Full/wav2vec2_processor/tokenizer_config.json
web/Full/wav2vec2_processor/vocab.json
web/Full/received_output.wav
wav2vec2_model/added_tokens.json
wav2vec2_model/config.json
wav2vec2_model/model.safetensors
wav2vec2_model/preprocessor_config.json
wav2vec2_model/special_tokens_map.json
wav2vec2_model/tokenizer_config.json
wav2vec2_model/vocab.json
vits_model/added_tokens.json
vits_model/config.json
vits_model/model.safetensors
vits_model/special_tokens_map.json
vits_model/tokenizer_config.json
vits_model/vocab.json
temp/recorded_audio.wav
output.wav
web/Full/uploads/output.mp3
web/Full/uploads/output1.mp3
web/Full/uploads/output3b3cf429-de15-46e6-8467-f93686f18e61.mp3
web/Full/uploads/output7bcc2fc3-e764-43a1-aa0b-38ff35df427d.mp3
web/Full/uploads/output335313b0-c784-4124-aa92-dec2cea85cc5.mp3
web/Full/uploads/outputf55a307d-a6c1-438c-ae62-7f4c02ff14a9.mp3
output.mp3
received_output.mp3
